.trustiva-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #ffffff;

    img {
      max-width: 50%;
      height: auto;
    }

    video, iframe{
        max-width: 50%;
        height: auto;
    }

}

.trustiva-video-container{
    width: 100%;
    background-color: #ffffff;
    align-items: center;
}

.trustiva-videos{
    display: grid;
    background-color: #ffffff;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    width: 60%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    overflow-x: hidden;

    video, iframe {
        width: 100%;
        max-width: 700px;
        height: auto;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}