.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;


    .text-zone{
        position: relative;
        width: 80%;
        max-width: 90%;
        margin-bottom: 80px;
        text-align: center;
    }

    h1{
        color: #3a3a3a;
        font-size: 4rem;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        text-align: center;

        @media (max-width: 1920px){
            font-size: 3rem;
        }
    }

    .image-zone {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-items: center;
        width: calc(100% - 40px);
        max-width: 2000px;
        margin: 0 auto;
        padding: 20px;
        overflow: hidden;
        overflow-x: hidden;

        a {
            text-decoration: none;

            img {
                width: 100%;
                max-width: 700px;
                height: auto;
                border-radius: 8px;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    }

    @media(max-width: 768px){
        .text-zone{
            margin-top: 70px;
            width: 100%;
        }

        h1{
            font-size: 2rem;
        }

        .image-zone {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    }
}

