.nav-bar {
    background: #e3e2dd;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 3;

    min-width: 500px;

    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.logo {
    padding: 40px 80px;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;

    img {
        display: block;
        margin: 15px 10px;
        width: 300px;
        height: 70%;
    }
}

nav {
    display: flex;
    align-items: center;
    padding-right: 50px;

    a {
        font-family: 'Montserrat', sans-serif;
        color: #3a3a3a;
        text-decoration: none;
        margin: 0 15px;
        font-size: 40px;
        font-weight: 500;
        position: relative;
        border-bottom: 2px solid transparent;

        &.active {
            font-weight: 700;
        }

        &:hover {
            border-bottom: 2px solid #3a3a3a;
        }
    }
}

@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        min-width: unset;
    }

    .logo {
        img {
            max-width: 150px;
            height: auto;
        }
    }

    nav {
        padding: 10px 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        text-align: center;

        a {
            font-size: 24px;
            margin: 0 10px;
        }
    }
}